<div class="section">
  <div class="container link_tabs">
      <a class="link_tab" routerLink="/home" routerLinkActive="active"> 
          <div class="link-tab-title" >
              Товары
          </div>
          <span class="tabs__underline"></span>
        </a>
      <a class="link_tab" routerLink="/services" routerLinkActive="active"> 
          <div class="link-tab-title">
              Услуги и сервисы
          </div>
          <span class="tabs__underline"></span>
        </a>
      <a class="link_tab" routerLink="/shops" routerLinkActive="active"> 
          <div class="link-tab-title">
              Магазины
          </div>
          <span class="tabs__underline"></span>
        </a>
      <a class="link_tab" routerLink="/brands" routerLinkActive="active"> 
          <div class="link-tab-title">
              Бренды
          </div>
          <span class="tabs__underline"></span>
        </a>
      <a class="link_tab" routerLink="/coupons" routerLinkActive="active"> 
          <div class="link-tab-title">
              Купоны и промокоды
          </div>
          <span class="tabs__underline"></span>
        </a>
  </div>
</div>